html {
    scroll-behavior: smooth;
}
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    background-color: #fff;
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
input, label.selection > a {
    visibility: collapse;
    width: 0;
    height: 0;
}
#mainDiv {
    width: 100%;
}


/* 텍스트 */
.narrationText {
    min-width: 100%;
    color: #111;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    gap: 2vw;
    row-gap: 4vw;

    * {
        max-width: 40vw;
        max-height: 40vw;
        overflow: hidden;
    }
}

table {
    width: 40vw;
    height: 40vw;
    border: #111 2px solid;
    background-color: #eee;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    transition: 0.5s;

    thead {
        color: #111;
        font-size: 2vw;
    }
}
input:checked + table {
    background-color: #aaa;
    
}

