html {
    /* 자동 스크롤을 부드럽게 해주는 옵션입니다. */
    scroll-behavior: smooth;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: inherit;
    margin: 0;
    top: 0;
    position: absolute;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    background-color: #fff;
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
input, label.selection > a {
    visibility: collapse;
    width: 0;
    height: 0;
}
#mainDiv {
    width: 100%;
}
